@using Capa.EN
@model List<Capa.EN.TBCAS_AVISOS>
@{
    ViewBag.Title = "Index";
}

<html lang="es">

<body class="text-white" style="background-color: #ced4da">
    <div class="container contenedor">
        <div class="row mt-4 border rounded border-white">
            <!--Zona 1-->
            <div class="col-12 col-md-4 p-0">
                <!--Zona 1.1 (1)-->
                <div class="row p-2 m-1 border rounded">
                    <div class="col-12 mb-1">
                        <label class="h5 m-0" for="busqueda">Busqueda: </label>
                    </div>
                    <div class="col-12 overflow-hidden mb-1">
                        <input type="text" class="form-control" id="buscador" placeholder="Insertar palabra de busqueda">
                        
                    </div>
                    <div class="col-12 mt-1">
                        <p class="lead m-0">Filtros: </p>
                        <div class="row">
                            <div class="col-12">
                                <em class="m-0">Fecha inicio </em>
                            </div>
                           
                            <div class="col-12 mb-1">
                                <input class="form-control w-100" type="date" name="dtFechaInicio" />
                            </div>
                            <div class="col-12">
                                <em class="m-0">Fecha fin </em>
                            </div>
                            
                            <div class="col-12 mb-1">
                                <input class="form-control w-100" type="date" name="dtFechaFin" />
                            </div>
                            <div class="col-12 mb-1">
                                <select class="custom-select" name="cboEstado" id="cboEstadoId" onchange="filtrarEstado(this)">
                                    <option selected>Estado</option>
                                    @{
                                        IEnumerable<SP_LISTAR_ESTADO_Result> estado = ViewBag.listaEstado as IEnumerable<SP_LISTAR_ESTADO_Result>;

                                        foreach (var oEstado in estado)
                                        {
                                            <option value="@oEstado.AVISO_ESTADO_NRO">@oEstado.AVISO_ESTADO_DESCRIP</option>
                                        }
                                    }

                                </select>
                                <select class="custom-select" name="cboTipo" id="cboTipoId" onchange="filtrarTipo(this)">
                                    <option selected>Tipo</option>
                                    @{
                                        IEnumerable<SP_LISTAR_TIPO_Result> tipo = ViewBag.listaTipo as IEnumerable<SP_LISTAR_TIPO_Result>;

                                        foreach (var oTipo in tipo)
                                        {
                                            <option value="@oTipo.AVISO_TIPO_NRO">@oTipo.AVISO_TIPO_DESCRIP</option>
                                        }
                                    }

                                </select>
                            </div>

                        </div>


                    </div>
                </div>
                <!--Zona 1.2 (2)-->
                <div class="row p-2 m-1 border rounded">
                    <div class="col-12 camposDeFiltro overflow-hidden">
                        <p class="h5">Lista de asuntos: </p>
                        
                        <div class="row row-table color rounded">
                            <table id="table_id" class="col-12 display text-center border-0 w-100 overflow-hidden">
                                <thead>
                                    <tr>
                                        <th class="border-0 text-dark">Descripcion</th>
                                        @*columna oculta, no borrar, permite filtrar por detalle*@
                                        <th class="d-none">Column 2</th>
                                        <th class="d-none">Column 2</th>
                                        <th class="d-none">Column 2</th>
                                        <th class="d-none">Column 2</th>
                                    </tr>
                                </thead>

                                @*etiquetas innecesarias pero que permiten el funcionamiento correcto*@
                                <tbody></tbody>

                            </table>
                        </div>
                        

                        @{int i = 1;}
      
                        

                    </div>

                </div>
            </div>

            <!--Zona 2-->
            <div class="col-12 col-md-8 p-0 align-items-center">
                <!--Zona 2.1 (3)-->
                <div class="row p-2 m-1 border rounded">
                    <div class="col-12 col-md-12">
                        <h6 class="d-inline-block m-0">Asunto</h6>
                        <div class="row">
                            @{


                                var oSP_LISTAR_AVISO = ViewBag.listaAvisos as SP_LISTAR_AVISO_COMPLETO_Result;

                                if (oSP_LISTAR_AVISO.AVISO_CODIGO == 0)
                                {
                                    <div class="col">
                                        <p class="lead text-center">
                                            <em>No hay data</em>
                                            <img src="~/img/nodatafound.png" class="img-fluid" />
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-12 col-md-6 text-center">
                                        <p class="lead">@oSP_LISTAR_AVISO.USUARI_NOMBRES @oSP_LISTAR_AVISO.USUARI_APEPAT</p>
                                        <p>@oSP_LISTAR_AVISO.AVISO_CODIGO</p>
                                    </div>
                                    <div class="col-12 col-md-6 text-center control">
                                        <p class="m-0 d-block btn btn-success">Realizar comentario</p>

                                        <textarea class="m-0 w-100 mt-1 d-none txtComentario"></textarea>

                                        <div>
                                            <a class="m-0 float-right btn btn-primary d-none btnPublicar"
                                               href="@Url.Action("crearComentario", "Hacdata", new {
                                                    EMPRESA_CODIGO = oSP_LISTAR_AVISO.EMPRESA_CODIGO,
                                                    AVISO_CODIGO = oSP_LISTAR_AVISO.AVISO_CODIGO,
                                                    AVISOCOM_USUARIO = ViewBag.codigoUser,
                                                    AVISOCOM_COMENTARIO = "xxxx"
                                                })">
                                                Publicar
                                            </a>
                                        </div>
                                    </div>
                                    }
                                }
                            </div>
                    </div>      
                </div>

                <!--Zona 2.2 (4)-->
                <div class="row p-2 m-1 border rounded">
                    <div class="col">
                        <h6 class="d-inline-block">DETALLE</h6>
                        <div class="row">
                            <div class="col">
                                @{

                                    if (oSP_LISTAR_AVISO.AVISO_CODIGO == 0)
                                    {
                                        <p class="lead text-center">
                                            <em>No hay data</em>
                                            <img src="~/img/nodatafound.png" class="img-fluid" />
                                        </p>
                                    }
                                    else
                                    {

                                        <p>@oSP_LISTAR_AVISO.AVISO_DETALLE</p>

                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!--Zona 2.3 (5)-->
                <div class="row p-2 m-1 border rounded">
                    <div class="col-12">
                        <p class="h5 m-0">Listado de comentarios</p>
                        <div class="row">

                            @{
                                var listaComentario = ViewBag.listaComentario as IEnumerable<SP_LISTAR_COMENTARIO_Result>;

                                if (!listaComentario.Any())
                                {
                                    <div class="col-12 mt-2">
                                        <p class="lead text-center">
                                            <em>No hay data</em>
                                            <img src="~/img/nodatafound.png" class="img-fluid" />
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    foreach (var oComentario in listaComentario)
                                    {
                                        <div class="col-12 border-top mt-2 seleccion rounded">
                                            <label class="m-0" for="comentario">@oComentario.USUARI_NOMBRES @oComentario.USUARI_APEPAT</label>
                                           
                                            <p class="float-right m-0">@oComentario.Column1 @oComentario.Column2</p>
                                            <textarea class="form-control w-100 col-12 mb-1" disabled id="comentario">@oComentario.AVISOCOM_COMENTARIO</textarea>

                                        </div>
                                    }

                                }
                            }
                        </div>
                    </div>
                </div>

                <!--Zona 2.4 (6)-->
                <div class="row p-2 m-1 border rounded">
                    <div class="col-12">
                        <p class="h5">Listado adjuntos: </p>
                        <div class="row">
                            @{ var listadoAdjuntos = ViewBag.listaAdjunto as IEnumerable<SP_LISTAR_ADJUNTOS_Result>;

                                if (!listadoAdjuntos.Any())
                                {
                                    <div class="col-12 mt-2">
                                        <p class="lead text-center">
                                            <em>No hay data</em>
                                            <img src="~/img/nodatafound.png" class="img-fluid" />
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-12 text-center pl-2 pr-2">
                                        @foreach (var oAdjuntos in listadoAdjuntos)
                                        {
                                            <div class="row border-top rounded seleccion py-2">
                                                <p class="col-4 m-0">@oAdjuntos.AVISO_ARCHIVO</p>
                                                <p class="col-8 m-0"><a href="@oAdjuntos.AVISO_RUTA">@oAdjuntos.AVISO_RUTA</a></p>
                                            </div>

                                        }
                                    </div>
                                }

                            }

                        </div>
                        <!--

                            -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="~/Scripts/funciones.js"></script>

    <script>
        for (let i = 1; i <= 3; i++) {
            $("#avisoBotonId" + i).click(function () {
                let desc = $("#descripcion" + i).text();
                console.log(desc);
            });
        }
    </script>
    <script>
        let foo = @Html.Raw(Json.Encode(Model));
        console.log(foo[0]);
        console.log(foo[0].EMPRESA_CODIGO);
        console.log(foo[0].AVISO_NRO);
    </script>

    <script>
        $(document).ready(function () {
            tabla();
            $('#table_id_filter').removeClass("dataTables_filter").addClass("d-none");
            $('#table_id_length').removeClass("dataTables_length").addClass("d-none");
            $('#table_id_info').removeClass("dataTables_info").addClass("d-none");
            $('.row-table > #table_id_wrapper').addClass("w-100");
        });

        let arr = @Html.Raw(Json.Encode(Model));

        function tabla() {
            $.each(arr, function (index, item) {

                $("#table_id").append(
                    `<tr>`+
                        `<td class="text-center w-100">`+
                             `<a  style="text-decoration:none" value="@i" class="text-dark overflow-hidden medida" id="@("avisoBotonId")" href=/Hacdata/Buscar?empresa=`+arr[index].EMPRESA_CODIGO+`&aviso=`+arr[index].AVISO_CODIGO+`&pCodigo=@ViewBag.codigoUser>` +
                                 `<p id="@("descripcion")" class="col-5 overflow-hidden d-inline">` + arr[index].AVISO_DESCRIPCION + `</p>` +
                              `</a>`+
                    `</td >`+
                    `<td class="d-none">`+
                    `<a  style="text-decoration:none" value="@i" class="text-dark overflow-hidden medida " id="@("avisoBotonId")" href=/Hacdata/Buscar?empresa=` + arr[index].EMPRESA_CODIGO + `&aviso=` + arr[index].AVISO_CODIGO + `&pCodigo=@ViewBag.codigoUser>` +
                                 `<p class= "col-7 overflow-hidden elegir" >` +arr[index].AVISO_DETALLE+`</p >`+
                              `</a>`+
                    `</td >` +
                    `<td class="d-none">`+
                    `<a  style="text-decoration:none" value="@i" class="text-dark rounded overflow-hidden medida " id="@("avisoBotonId")" href=/Hacdata/Buscar?empresa=` + arr[index].EMPRESA_CODIGO + `&aviso=` + arr[index].AVISO_CODIGO + `&pCodigo=@ViewBag.codigoUser>` +
                    `<p class= "col-7 overflow-hidden elegir" >` + arr[index].AVISO_PUBFECHA+`</p >`+
                              `</a>`+
                    `</td >` +
                    `<td class="d-none">`+
                    `<a  style="text-decoration:none" value="@i" class="text-dark rounded overflow-hidden medida " id="@("avisoBotonId")" href=/Hacdata/Buscar?empresa=` + arr[index].EMPRESA_CODIGO + `&aviso=` + arr[index].AVISO_CODIGO + `&pCodigo=@ViewBag.codigoUser>` +
                    `<p class= "col-7 overflow-hidden elegir" >` + arr[index].AVISO_ESTADO_DESCRIP+`</p >`+
                              `</a>`+
                    `</td >` +
                    `<td class="d-none">`+
                    `<a  style="text-decoration:none" value="@i" class="text-dark rounded overflow-hidden medida " id="@("avisoBotonId")" href=/Hacdata/Buscar?empresa=` + arr[index].EMPRESA_CODIGO + `&aviso=` + arr[index].AVISO_CODIGO + `&pCodigo=@ViewBag.codigoUser>` +
                    `<p class= "col-7 overflow-hidden elegir" >` + arr[index].AVISO_TIPO_DESCRIP+`</p >`+
                              `</a>`+
                        `</td >`+

                    + `</tr>`)
            });
            $('#table_id').DataTable();
        };

        $('#buscador').keyup(function () {
            $('#table_id').DataTable().search($(this).val()).draw();
        });

        let acumulador = "";
        let estado = "";
        let tipo = "";

        function filtrarEstado(index) {
            let descripcion = index.options[index.selectedIndex].text;
            if (descripcion === "Estado")
                estado = "";
            else 
                estado = descripcion;
            
                acumulador = estado + " " + tipo;

                $('#table_id').DataTable().search(acumulador).draw();
        }

        function filtrarTipo(index) {
            let descripcion = index.options[index.selectedIndex].text;
            if (descripcion === "Tipo")
                tipo = "";
            else 
                tipo = descripcion;
            
                acumulador = estado + " " + tipo;

                $('#table_id').DataTable().search(acumulador).draw();
        }


    </script>

</body>

</html>

