@model List<sistemaAvisosTSG.Models.TBCAS_AVISOS>
@{
    ViewBag.Title = "Index";
}

<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Icono titulo-->
    <link rel="shortcut icon" href="http://static.wixstatic.com/media/505a0d_8bb4a2eed40145f2b2104a1bda34570e%7Emv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/505a0d_8bb4a2eed40145f2b2104a1bda34570e%7Emv2.png" type="image/png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="estilos.css">
    <title>Consulas HACDATA</title>
</head>
@using (Html.BeginForm())
{
<body class="text-white">
    <div class="container contenedor">
        <div class="row mt-4 border rounded border-white">
            <!--Zona 1-->
            <div class="col-12 col-md-4 p-0">
                <!--Zona 1.1 (1)-->
                <div class="row p-2 m-1 border rounded">
                    <div class="col-12 mb-1">
                        <label class="h5 m-0" for="busqueda">Busqueda: </label>
                    </div>
                    <div class="col-12 overflow-hidden mb-1">
                        <input type="text" name="txtBusqueda" class="form-control" id="busqueda" placeholder="Ingresar palabra">
                    </div>
                    <div class="col-12 mt-1">
                        <p class="lead m-0">Filtros: </p>
                        <div class="row">
                            <div class="col-12 mb-1">
                                <input class="w-100" type="date" name="dtFecha"/>
                            </div>
                            <div class="col-12 mb-1">
                                <select class="custom-select" name="cboTipo" id="">
                                    <option selected>Estado</option>
                                    @{
                                        IEnumerable<sistemaAvisosTSG.Models.TBCAS_AVISOS_ESTADO> estado = ViewBag.listaEstado as IEnumerable<sistemaAvisosTSG.Models.TBCAS_AVISOS_ESTADO>;

                                        foreach (var oEstado in estado)
                                        {
                                            <option value="@oEstado.AVISO_ESTADO_NRO">@oEstado.AVISO_ESTADO_DESCRIP</option>
                                        }
                                    }

                                </select>
                                <select class="custom-select" name="cboTipo" id="">
                                      <option selected>Tipo</option>
                                        @{
                                            IEnumerable<sistemaAvisosTSG.Models.TBCAS_AVISOS_TIPO> tipo = ViewBag.listaTipo as IEnumerable<sistemaAvisosTSG.Models.TBCAS_AVISOS_TIPO>;

                                            foreach (var oTipo in tipo)
                                            {
                                                <option value="@oTipo.AVISO_TIPO_NRO">@oTipo.AVISO_TIPO_DESCRIP</option>
                                            }                   
                                        }
                                        
                                 </select>
                            </div>
                            
                        </div>


                    </div>
                </div>
                <!--Zona 1.2 (2)-->
                <div class="row p-2 m-1 border rounded">
                    <div class="col-12">
                        <p class="h5">Lista de asuntos: </p>
                        <dl class="row d-flex">
                            @foreach (var item in Model)
                            {
                            
                                <dd class="pt-1 col-5 overflow-hidden border-top align-items-center mt-2 ml-2">@item.AVISO_DESCRIPCION</dd>
                                <dd class="pt-1 col-6 overflow-hidden border-top align-items-center mt-2">@item.AVISO_DETALLE</dd>
                                
                                <!--<dd><a href="~/Hacdata/Buscar?empresa=@item.EMPRESA_CODIGO&aviso=@item.AVISO_NRO" class="btn btn-success float-right">Listar</a></dd> <!--buscar-->
                            
                             }
                        </dl>
                    </div>
                    
                </div>
            </div>

            <!--Zona 2-->
            <div class="col-12 col-md-8 p-0">
                <!--Zona 2.1 (3)-->
                <div class="row p-2 m-1 border rounded">
                    <div class="col-12 col-md-8">
                        <h6 class="d-inline-block">Asunto</h6>

                        @{
                            var oSP_LISTAR_AVISO = ViewBag.listaAvisos as sistemaAvisosTSG.Models.SP_LISTAR_AVISO;
                            if (oSP_LISTAR_AVISO.AVISO_CODIGO == 0)
                            {
                                <p class="lead text-center">
                                    <em>No hay data</em>
                                    <img src="~/img/nodatafound.png" class="img-fluid" />
                                </p>
                            }
                            else
                            {
                                <p class="text-danger">@oSP_LISTAR_AVISO.USUARI_NOMBRES @oSP_LISTAR_AVISO.USUARI_APEPAT</p>
                                <p>@oSP_LISTAR_AVISO.AVISO_CODIGO</p>
                            }
                        }
                        

                    </div>
                    <div class="col-12 col-md-4">
                        <button class="d-inline-block float-right btn btn-success">Realizar comentario</button>
                    </div>
                </div>

                
                <!--Zona 2.2 (4)-->
                <div class="row p-2 m-1 border rounded">
                    <div class="col">
                        <h6 class="d-inline-block">DETALLE</h6>
                        <div class="row">
                            <div class="col">
                                @{
                                    
                                    if (oSP_LISTAR_AVISO.AVISO_CODIGO == 0)
                                    {
                                        <p class="lead text-center">
                                            <em>No hay data</em>
                                            <img src="~/img/nodatafound.png" class="img-fluid" />
                                        </p>
                                    }
                                    else
                                    {
                                        
                                        <p>@oSP_LISTAR_AVISO.AVISO_DETALLE</p>
                                        
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!--Zona 2.3 (5)-->
                <div class="row p-2 m-1 border rounded">
                    <div class="col-12">
                        <p class="h5 m-0">Listado de comentarios</p>
                        <div class="row">

                            @{ 
                                var listaComentario = ViewBag.listaComentario as IEnumerable<sistemaAvisosTSG.Models.SP_LISTAR_COMENTARIO>;

                                if (listaComentario.FirstOrDefault().AVISOCOM_COMENTARIO.IsEmpty())
                                {
                                    <div class="col-12 mt-2">
                                        <p class="lead text-center">
                                            <em>No hay data</em>
                                            <img src="~/img/nodatafound.png" class="img-fluid" />
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    foreach (var oComentario in listaComentario)
                                    {
                                    <div class="col-12 border-top mt-2">
                                        <label class="m-0" for="comentario">@oComentario.USUARI_NOMBRES @oComentario.USUARI_APEPAT</label>
                                        <p class="float-right m-0">@oComentario.AVISOCOM_FECHA @oComentario.AVISOCOM_HORA</p>
                                        <textarea class="form-control w-100 col-12" disabled name="txtComentario" id="comentario">@oComentario.AVISOCOM_COMENTARIO</textarea>
                                        
                                    </div>
                                    }

                                }
                            }
                        </div>
                    </div>
                </div>

                <!--Zona 2.4 (6)-->
                <div class="row p-2 m-1 border rounded">
                    <div class="col-12">
                        <p class="h5">Listado adjuntos: </p>
                        <div class="row">
                            @{ var listadoAdjuntos = ViewBag.listaAdjunto as IEnumerable<sistemaAvisosTSG.Models.SP_LISTAR_ADJUNTOS>;

                                if (listadoAdjuntos.FirstOrDefault().AVISOARCH_CODIGO==0)
                                {
                            <div class="col-12 mt-2">
                                <p class="lead text-center">
                                    <em>No hay data</em>
                                    <img src="~/img/nodatafound.png" class="img-fluid" />
                                </p>
                            </div>
                                }
                                else
                                {
                            <dl class="row text-center pl-2 pr-2">
                                    @foreach(var oAdjuntos in listadoAdjuntos)
                                    {
                            
                                <dd class="col-4 border-top"><p>@oAdjuntos.AVISO_ARCHIVO</p></dd>
                                <dd class="col-8 border-top"><a href="@oAdjuntos.AVISO_RUTA">@oAdjuntos.AVISO_RUTA</a></dd>

                                    }
                            </dl>
                                }

                            }
                            
                        </div>
                        <!--
                        
                            -->
                    </div>
                </div>
            </div>
        </div>
    </div>







    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
                                }

</html>

